body {
  font-family: system-ui, sans-serif;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.message {
  border: 3px solid transparent;
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 8px;
  font-size: 20px;
  background-color: lightgrey;
}

.message-success {
  border-color: darkgreen;
  color: darkgreen;
}

.message-error {
  border-color: red;
  color: red;
}
